*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../2.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top:40px;
	margin-right: 25px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #transparent;
	transition: 0.6s ease;

}
ul li a:hover{
	background-color: #fff;
	color:#000;
}
ul li.active  a{
	background-color: #fff;
	color:#000;

}
.logo img{
	float: left;
	width:200px;
	height: 100px;
	margin: center;
		/*align-items: left;*/
	margin-top:20px;
	margin-right: 160px;

}
.main{
	max-width: 1500px;
	margin: auto;
	padding: 10;

}
.title{

	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: #fff;
	font-size: 100px;
}
