*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../1.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top:40px;
	margin-right: 25px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #transparent;
	transition: 0.6s ease;

} vbnbvc``z865432123
ul li a:hover{
	background-color: #fff;
	color:#000;
}
ul li.active  a{
	background-color: #fff;
	color:#000;

}
.logo img{
	float: left;
	width:200px;
	height: 100px;
	margin: center;
		/*align-items: left;*/
	margin-top:20px;
	margin-right: 160px;

}
.main{
	max-width: 1500px;
	margin: auto;
	padding: 10;

}
.title{

	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: #fff;
	font-size: 100px;
}
section{
	background: #efefef;
	font-size: 16px;
	color: #777;
	font-family: sans-serif;
	font-weight: 300;
	/*background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../bc.jpg");*/
	/*height: 100vh;
	background-size: cover;
	background-position: center;*/
}
/*.Login{
	width: 360px;
	padding: 5px 20px 20px 20px;
}*/
#SignUp{
	position: relative;
	margin: 5% auto;
	height: 400px;
	width: 600px;
	background: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,0.6);
}
.form{
	position: relative;
	z-index: 1;
	background: #ffffff;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}

.left-box{
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 40px;
	width: 300px;

}
h2{
	margin: 0 0 20px 0;
	font-weight: 300;

	font-size: 28px;

}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"]

{
	display: block;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 4px;
	width: 220px;
	height: 32px;
	border: none;
	outline: none;
	border-bottom: 1px solid #aaa;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 15px;
	transition: 0.2 ease;
}

input[type="submit"]
{
	margin-bottom: 28px;
	width: 120px;
	height: 32px;
	background: #f44336;
	border: none;
	border-radius: 2px;
	color: #fff;
	font-family: sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	transition: 0.2 ease;
	cursor: pointer;
}
input[type="submit"]:hover,
input[type="submit"]:focus
{
	background: #ff5722;
	transition: 0.2 ease;
}
.right-box{
	position: absolute;
	top: 0;
	right: 0;
	box-sizing: border-box;
	padding: 40px;
	width: 300px;
	height: 400px;
	background-image: url("../sim.jpeg");
	background-size:cover;
	background-position: :center;
}

.or{
	position: absolute;
	top: 50px;
	left:280px;
	width: 50px;
	height: 30px;
	background: white;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0,0,0,0.6);
	line-height: 40px;
	text-align: center;
}
.right-box .signinwith{
	display: block;
	margin-bottom: 40px;
	font-size: 30px;
	color: #fff;
	text-align: center;
	text-shadow: 0 2px 4px rgba(0,0,0,0.6); 
}
button.social{
	margin-bottom: 20px;
	width: 220px;
	height: 36px;
	border: none;
	border-radius: 2px;
	color: blue;
	font-family: sans-serif;
	font-weight: 500;
	transition: 0.2 ease;
	cursor: pointer;
.Facebook{
	background: #32508e;

}
.Twitter{
	background:blue;

}
.google




















